<!doctype html>
<html lang="fr" class="w-screen overflow-x-hidden">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="<%= image_path "favicon.png" %>" type="image/png">
    <title><%= current_page.data.title || data.config.metatags.title %></title>
    <%= partial "partials/metatags" %>
    <%= stylesheet_link_tag "site" %>
    <script defer src="https://kit.fontawesome.com/c809406173.js" crossorigin="anonymous"></script>
    <script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="38df5164-ee01-49aa-a75d-82295525aa7c" async></script>
  </head>
  <body class="w-screen overflow-x-hidden">
    <%= yield %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
