<section id="tarifs" class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
        <%= data.pricing.title %>
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-700">
        <%= data.pricing.description %>
      </p>
    </div>

    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 md:max-w-2xl md:grid-cols-3 lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-3">
      <div></div>
      <% data.pricing.items.each do |pricing| %>
        <div class="rounded-3xl pt-8 px-8 pb-4 ring-1 ring-gray-200 flex flex-col">
          <h3 class="text-xl font-semibold leading-8 text-gray-900 text-center">
            <%= pricing.title %>
          </h3>
          <% if pricing.amount.present? %>
            <p class="mt-6 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900">
                <%= pricing.amount %>
              </span>
              <span class="text-sm font-semibold leading-6 text-gray-600">
                /<%= pricing.unit%>
              </span>
            </p>
          <% end %>
          <a href="/calendrier?utm_source=chloesophro&utm_content=pricing-<%= pricing.title.downcase %>" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600 text-teal-800 ring-1 ring-inset ring-teal-200 hover:ring-teal-300">
            Prendre rendez-vous
          </a>
          <ul role="list" class="grow mt-8 mb-4 space-y-3 text-sm leading-6 text-gray-600">
            <% pricing.perks.each do |perk| %>
              <li class="flex gap-x-3 items-baseline">
                <i class="fa-regular fa-check fa-xl text-teal-600"></i>
                <%= perk %>
              </li>
            <% end %>
          </ul>

          <% if pricing.info.present? %>
            <div class="flex gap-x-3 items-baseline text-sm leading-6 text-gray-500">
              <i class="fa-regular fa-circle-info fa-lg text-gray-600"></i>
              <p>
                <%= pricing.info %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mx-auto max-w-4xl text-center">
      <p class="mt-6 text-lg leading-8 text-gray-700 font-bold">
        <%= data.pricing.footer %>
        <a href="<%= data.pricing.footer_link %>" class="text-sm font-semibold leading-6 text-teal-900">
          En savoir plus
          <span aria-hidden="true">→</span>
        </a>
      </p>
    </div>
  </div>
</section>
