---
title: Qui suis-je ? | Chloé Roussel - Sophrologue à Nantes et en visio
---

<%= partial "partials/menu" %>

<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Chloé Roussel</h1>
          <%= image_tag "chloe.webp", class: "lg:hidden mt-6 rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10", alt: "illustration" %>
        </div>
      </div>
    </div>
    <div class="hidden lg:block -ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <%= image_tag "chloe.webp", class: "w-[30rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[40rem]", alt: "illustration" %>

      <div class="mt-10 flex items-center gap-x-6">
        <a href="/calendrier?utm_source=chloesophro&utm_content=accompagnement-page" class="rounded-md bg-teal-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
          <%= data.hero.primary_action %>
        </a>
        <a href="/#avis" class="text-sm font-semibold leading-6 text-teal-900">
          Voir les avis
          <i class="fa-regular fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900">Je suis une thérapeute passionnée et engagée</h2>
          <p class="mt-6">
            Mon objectif est de vous accompagner dans votre cheminement personnel, en vous aidant à trouver les
            outils et les ressources dont vous avez besoin pour atteindre votre bien-être émotionnel et physique.
          </p>
          <p class="mt-3">
            Grâce à mes formations et à ma pratique, j'ai développé une approche personnalisée qui prend en compte
            votre histoire personnelle et vos objectifs.
          </p>
          <p class="mt-3">
            Contactez-moi pour en savoir plus sur mes services et pour commencer votre parcours vers la guérison et
            l'épanouissement personnel.
          </p>

          <h2 class="mt-12 text-2xl font-bold tracking-tight text-gray-900">Mes formations</h2>
          <p class="mt-6">
            <ul class="list-inside list-disc">
              <li>Sophrologue (IFS : Ecole de Formation à la sophrologie à Nantes, Titre RNCP)</li>
              <li>
                Praticienne EFT (Formation par Alain Maria, Praticien EFT, sophro-analyste et Docteur en Pharmacie à
                Rezé lui-même formé par Caroline Dubois et Jean-Michel Gurret : Fondateur et Président de l'Institut
                Francophone de Psychothérapie Émotionnelle et Cognitive)
              </li>
              <li>Reiki 1e et 2e degré (Formation par Dominique Maisonneuve, Maitre Reiki à Nantes)</li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="mt-10 flex items-center gap-x-6 lg:hidden">
      <a href="/calendrier?utm_source=chloesophro&utm_content=accompagnement-page" class="rounded-md bg-teal-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
        <%= data.hero.primary_action %>
      </a>
      <a href="/#avis" class="text-sm font-semibold leading-6 text-teal-900">
        Voir les avis
        <i class="fa-regular fa-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
